<html>
    <head>
        <style>
            body{
                font-family:"Courier New", monospace;
            }
            h3{
                font-family:"Courier New", monospace;
            }
        </style>
        <title>
            Dog
        </title>
    </head>
    <body>
        why cat if u have doge bread? <br>
        ask fish if u want cat <br>
        <img src="https://i.ytimg.com/vi/ou4AZWrN6Kc/maxresdefault.jpg" alt="why no doge bread?" style="width:500px;height:300px;">
        <br>
        <a href="/">home sweet home</a>
    </body>