<html>
    <head>
        <style>
            body{
                font-family:"Courier New", monospace;
            }
            h3{
                font-family:"Courier New", monospace;
            }
        </style>
        <title>
            Gkxn
        </title>
    </head>
    <body>
        <h3 hidden>Play fair? No, I play fish.</h3>
        O ipo's ifaa box gkxn, ers ibuc'u iny rikr xmthu: <br>
        <ul>
            <li>Kg dts eofeh po "iti", wpt ygrr kbq d dbs.Y</li>
            <li>Kg dts eofeh po "dby," dpt ygrr kbq d ith.W</li>
            <li>Kg dts eofeh po "gkxn," dts ecl lmdv lfgt clb tabi ykcuc ioubdsotsx.</li>
            <li>Kg dtq rzktw "iti," wpt kbq d ith.W</li>
            <li>Kg dtq rzktw "dby," dpt kbq d dbs.Y</li>
            <li>Kg dtq rzktw cldyikmh apuc, dtr zfom fdu cl speagkpce axxmt.</li>
        </ul>
        <a href="/">Inpb</a>
    </body>