<html>
    <head>
        <style>
            body{
                font-family:"Courier New", monospace;
            }
            h3{
                font-family:"Courier New", monospace;
            }
        </style>
        <title>
            IonAuth
        </title>
    </head>
    <h2>
        Welcome to IonAuth!
    </h2>
        Sadly, I don't know your name. <br>
        <br>
        Log into Ion if would like me to know. <br>
    <body>
        <ul>
            <a href={{url}}>Login</a> <br>
            <br>
            <a href="/">Home</a>
        </ul>
    </body>