<html>
    <head>
        <style>
            body{
                font-family:"Courier New", monospace;
            }
            h3{
                font-family:"Courier New", monospace;
            }
        </style>
        <title>
            Oh no, Elmo!
        </title>
    </head>
    <body>
        Oh no, Elmo! <br>
        What have you done? <br>
        Your query is undefined!!! <br>
        <img src="https://miro.medium.com/max/880/1*h1Nc87N0NlMq6JRb2ct_1g.gif" alt="alas poor elmo" style="width:500px;height:300px;">
        <br>
        <a href="/">Back to safety!</a>
    </body>