<html>
    <head>
        <style>
            body{
                font-family:"Courier New", monospace;
            }
            h3{
                font-family:"Courier New", monospace;
            }
        </style>
        <title>
            IonAuth
        </title>
    </head>
    <h2>
        Welcome to IonAuth!
    </h2>
        Here, we'll use cookies to login into Ion. <br>
    <body>
        <ul>
            <a href={{url}}>Login</a>
        </ul>
    </body>